* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .calculator-container {
    background-color: bisque;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 350px;
    width: 100%;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .input-container {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  input[type="number"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 14px;
  }
  
  .result-container {
    margin-top: 20px;
  }
  
  #tip-result, #total-result {
    font-size: 20px;
    font-weight: lighter;
    color:coral;
  }
  .result-container h2{
    font-size: 19px;
    font-weight: lighter;
  }
  
  @media (max-width: 480px) {
    .calculator-container {
      padding: 15px;
      font-size: 14px;
    }
  }
  