
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(220, 43, 226);
    padding: 20px;
    color: white;
}

header .logo {
    font-size: 1.5em;
    font-weight: bold;
}

header input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 50%;
}


.recipe-section {
    padding: 20px;
    text-align: center;
}

.recipe-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.recipe-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.2s;
}

.recipe-card:hover {
    transform: scale(1.05);
}

.recipe-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.recipe-card h3 {
    font-size: 1.2em;
    margin-top: 10px;
}

.recipe-card p {
    font-size: 0.9em;
    color: #555;
}

.ingredients {
    margin-top: 10px;
    font-size: 0.85em;
    color: #333;
}

@media (max-width: 768px) {
    .recipe-grid {
        grid-template-columns: 1fr;
    }

    header input {
        width: 80%;
    }
}
