* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
    font-family: 'Arial', sans-serif;
    padding: 10px;
}

.container {
    background: white;
    border-radius: 5px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 360px;
    max-width: 100%;
}

.form-wrapper {
    display: flex;
    position: relative;
    justify-content: center; 
}

.form {
    display: none;
    flex-direction: column;
    padding: 30px;
    text-align: center;
}

.form.active {
    display: flex;
}

h2 {
    margin-bottom: 20px;
    font-size: 22px;
    color: #333;
}

input {
    border: none;
    border-radius: 25px;
    background: #f3f3f3;
    padding: 12px;
    margin-bottom: 15px;
    font-size: 14px;
    width: 100%;
    outline: none;
}

button {
    background-color: #6a56d9;
    color: white;
    padding: 12px; 
    border: none;
    border-radius: 25px;
    font-size: 14px; 
    cursor: pointer;
    margin-bottom: 15px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #4e3bbd;
}

.social-login {
    text-align: center;
    margin-bottom: 15px;
}

.social-icons img {
    width: 35px;
    margin: 0 8px;
    cursor: pointer;
}

p {
    font-size: 13px; 
    color: #666;
}

.switch-form {
    font-size: 13px;
    color: #6a56d9;
    cursor: pointer;
    right: 50px;
}

.switch-form span {
    text-decoration: underline;
}

.forgot-password {
    font-size: 12px;
    color: #999;
    margin-top: -10px;
    cursor: pointer;
}

@media (max-width: 600px) {
    .container {
        width: 90%;
        padding: 15px;
    }

    input, button {
        padding: 10px;
    }

    h2 {
        font-size: 18px;
    }

    .social-icons img {
        width: 30px;
    }
}
